<ion-header primary dir="ltr">
        <ion-toolbar>
          <ion-buttons right>
              <button (click)='gotoCart()' ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
            </ion-buttons>
            <ion-buttons right no-padding>
                <button ion-button icon-only (click)="openMenu()"><ion-icon name="menu"></ion-icon></button>
            </ion-buttons>
            <ion-buttons left *ngIf="steps.length > 1" >
                <button  (click)="back()" ion-button icon-only clear><ion-icon name="arrow-back"></ion-icon></button>
              </ion-buttons>
            <ion-buttons left>
              <button (click)="gotoSearch()" ion-button icon-only clear><ion-icon name="search"></ion-icon></button>
            </ion-buttons>
        </ion-toolbar>
        <!--<ion-toolbar style="font-family: 'iran-sans' !important">
            <ion-slides dir='rtl' class="col-slider">
                <ion-slide *ngFor="let item of steps" dir="rtl">
                    <button ion-button (click)="gotoSubCategory(item)" style="background-color: rgba(0, 0, 0, 0.40); color: white" clear>
                        <p [innerHTML]="item.title + '  >'"></p>
                    </button> 
                </ion-slide>                        
            </ion-slides>                    
        </ion-toolbar>-->
        <ion-toolbar class="slider">
            <ion-row dir="rtl" class="col-slider">
                <ion-col *ngFor="let item of steps" >
                    <button ion-button (click)="backtoSubCategory(item)" class="col-slide" clear>
                        <p [innerHTML]="item.name + '  >'"></p>
                </button> 
                </ion-col>
            </ion-row>
        </ion-toolbar>
        
      </ion-header>

<!--<ion-header primary >
    <ion-toolbar>
        <ion-buttons start>
            <button [navPush]="searchPage" ion-button icon-only clear>
              <ion-icon name="search"></ion-icon>
            </button>

            <button (click)="gotoCategories()" ion-button left><ion-icon name="cart"></ion-icon></button>
         </ion-buttons>
         <ion-buttons end>
            <button ion-button right menuToggle><ion-icon name="menu"></ion-icon></button>
         </ion-buttons>
  
    </ion-toolbar>
    <ion-toolbar style="font-family: 'iran-sans' !important">
        <ion-slides dir='rtl' slidesPerView="2.2" parallax="true">
            <ion-slide *ngFor="let item of steps" dir="rtl">
                    <button ion-button (click)="gotoSubCategory(item)" style="background-color: rgba(0, 0, 0, 0.40); color: white" clear>
                            <p [innerHTML]="item.title + '  >'"></p>
                    </button> 
            </ion-slide>
                
        </ion-slides>
            
        </ion-toolbar>
</ion-header>-->

<ion-content [ngClass]="show_filter? 'no-scroll simple-font blured' : 'simple-font'" #Content>
                <!--<ion-slides dir='rtl' slidesPerView="3">
                    <ion-slide *ngFor="let item of steps" dir="rtl">
                            <button ion-button (click)="gotoSubCategory(item)" style="background-color: rgba(0, 0, 0, 0.40); color: white" clear>
                                    <p [innerHTML]="item.title + '  >'"></p>
                            </button> 
                    </ion-slide>
                </ion-slides>-->

        <ion-refresher *ngIf="!show_fitler"  (ionRefresh)="refresh($event)" #Refresher>
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
            
                    
    <ion-grid  *ngIf="subCategories && isCat" class="grid-cat" overflow-scroll="false">
        <ion-row no-padding>
            <div class="cards" (click)="onCategoryClick(cat)" col-4 *ngFor="let cat of subCategories">
              <!--<div class="card-item" no-margin>  style="position: relative; background: white"-->
                  <div no-padding class="card-item">
                        <img no-margin [src]="cat.image != null ? cat.image.src : 'assets/imgs/koo-icon.png'" />
                        <div class="box cat-mar">
                          <h4 class="text" [innerHTML]="cat.name"></h4>
                        </div>
                  </div>
                  </div>
            <!--</div>-->
        </ion-row>
        <!--<div *ngIf="!subCategories">
            <img class="not-found-img" src="assets/imgs/koo-icon.png">
            <p> دسته بندی وجود ندارد</p> 
        </div>-->
        <!--<ion-infinite-scroll *ngIf="canLoadMore"  (ionInfinite)="loadMoreCat($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>-->
      </ion-grid>
      <ion-grid *ngIf="products && !isCat" class="grid-cat" scrollable="false">
        <ion-row no-padding>
          <ion-col no-padding no-margin col-6 *ngFor="let product of products">
            <div no-padding class="no-bottom-distance">
                    <ion-icon name="heart-outline" (click)="addToFavorites(product)" color="dark" *ngIf="!product.favorit" float-left style="margin-top: 4px; margin-left: 4px; margin-right: 80%"></ion-icon>
                    <ion-icon name="heart" (click)="deleteFromFavorites(product)" color="danger" *ngIf="product.favorit" float-left style="margin-top: 2px; margin-left: 4px; margin-right: 80%"></ion-icon>
                    <img class="item-img" [src]="product.images != null && product.images[0] != null ? product.images[0].src : 'assets/imgs/koo-icon.png'"  [navPush]="productPage" [navParams]="{id: product.id}" />
                <hr>
                <div class="box">
                    <p class="text" [innerHTML]="product.name" [navPush]="productPage" [navParams]="{id: product.id}"></p>
                </div>
                <!--<p class="text-no-padding text-height" padding=0.1 [innerHTML]="product.name" [navPush]="productPage" [navParams]="{id: product.id}"></p>-->
                <p class="text-no-padding price" [navPush]="productPage" [navParams]="{id: product.id}" text-wrap [innerHTML]="product.price_html"></p>
                <!--<button block ion-button color="secondary" (click)="addToCart(product)" class="go-bottom"><ion-icon name="cart"></ion-icon></button> -->
                <button id="buy-button" class="buy-button" color="secondary"  ion-button block (click)="addToCart(product)"><div no-margin no-padding *ngIf="!product.stock_quantity"> موجود نیست </div><div no-margin no-padding *ngIf="product.stock_quantity"><ion-icon class="icon-dist" name="cart"></ion-icon>  افزودن به سبد  </div></button>
                <!--<button class="buy-button" no-padding no-margin ion-button *ngIf="!product.stock_quantity" block color="secondary">  موجود نیست  </button>-->
            </div>
        </ion-col>
        </ion-row>
        <ion-infinite-scroll #InfiniteScroll *ngIf="canLoadMore"  (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-grid>
      <div *ngIf="(!products || products.length == 0) && (!subCategories || subCategories.length == 0)">
        <img class="not-found-img" src="assets/imgs/koo-icon.png">
        <p> محصولی وجود ندارد</p> 
    </div>
    <ion-fab bottom right (click)="openFilter()" *ngIf="steps.length > 2 && !show_filter" >
        <button ion-fab><ion-icon name="funnel"></ion-icon></button>
      </ion-fab>
</ion-content>

<div class="filter" *ngIf="!isCat && show_filter" >
    <button ion-button (click)="closeFilter()" style="margin-left: 90%" color="light" clear><ion-icon name="close"></ion-icon></button>
    <p class="filter-title">فیلتر کردن بر اساس نوع محصول</p>
<ion-grid class="grid-cat">
    <ion-row no-padding>
      <!--<ion-col [ngClass]="cat.css" (click)="filterTmp(cat)" col-4 *ngFor="let cat of subCategories">-->
            <div (click)="filterTmp(cat)" class="cards-fluid" col-4 no-margin *ngFor="let cat of subCategories">
              <div no-margin [ngClass]="cat.css">
                <img class="image-fluid" [src]="cat.image != null ? cat.image.src : 'assets/imgs/koo-icon.png'" />
                <div class="box">
                    <h4 class="text" [innerHTML]="cat.name"></h4>
                </div>
                <ion-icon *ngIf="filters_temp.indexOf(cat.id) != -1"  name="checkmark"></ion-icon>
              </div>
            </div>
      <!--</ion-col>-->
    </ion-row>
    <!--<div *ngIf="!subCategories">
        <img class="not-found-img" src="assets/imgs/koo-icon.png">
        <p> دسته بندی وجود ندارد</p> 
    </div>-->
    <!--<ion-infinite-scroll *ngIf="canLoadMore"  (ionInfinite)="loadMoreCat($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>-->
  </ion-grid>
  <div class="fitlers-footer">
      <ion-row>
          <button ion-button (click)="performFilter()">اعمال کردن فیلتر</button>
          <p class="filter-clean-button" (click)="clearTmpFilter()">پاک کردن</p>
      </ion-row>
  </div>