@font-face{
    font-family: 'iran-sans';
    src: url('../assets/fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
page-sub-categories {
    ion-scroll[scrollX] {
        white-space: nowrap;
        scroll-item {
          display: inline-block;
        }
      }

    // ion-navbar.toolbar {
    //     min-height: px;
    // }
    text-align: center;
    .simple-font {
        font-family: 'iran-sans';
        direction: rtl;
    }
    .cards {
        align-content: center;
        text-align: center;
        filter:drop-shadow(2px 2px 2px gray);
    }
    .card-item {
        position: relative;
        // padding: 0px;
        // margin-left: 4px;
        // margin-right: 4px;
        // margin-bottom: 0px;
        background-color: white;
        height: 100%;
        // min-height: 200px;
        // max-height: 200px;
    }
    .box-cat{
        position: absolute;
        bottom: 0;
        top: 80%;
        left: 0;
        right: 0;
        // left: 0;
        // right: 0;
        // height: 24px;
        // line-height: 24px;
        text-align: center;
        // width: 100%;
        // width: 94%;
        background: rgba($color: black, $alpha: .54)
      }
    .box{
        height: 54px;
        line-height: 32px;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
    }
    .text {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        font-weight: 900;
        font-size: 0.8em;
        
    }
    .image{
        width: 100%;
    }
    .sans-font {
        height: 64px;
        direction: rtl;
        font-family: 'iran-sans';
        text-align: right;
        // overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        font-size: 12px;  
    }
    .sans-font-container {
        padding: 0px;
        margin: 0px;
        direction: rtl;
        font-family: 'iran-sans';
        text-align: right;
        // overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        font-size: 12px;
    }
    .scroller{
        padding: 0px;
        margin: 0px;
        background-color: #B7100a
    }
    .ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
          display: inline-block;
        }
      }
    .slider{
    overflow: scroll;
    background-color: #B7100a;
    }
    .col-slider{
        white-space: nowrap;
        // overflow: scroll;
        display: inline;
    }
    .col-slide{
        background-color: rgba(0, 0, 0, 0.40);
        color: white;
        display: inline-block;
    }
    .icon-dist{
        margin-right: 2px;
        margin-left: 2px;
    }
    .not-found-img {
        text-align: center;
        width: 128px;
        height: 128px;
    }

    .no-bottom-distance {
        background-color: white;
        margin: 4px;
    }
    
    .text-no-padding {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-right: 2px;
        padding-left: 2px;
    }

    .text-height {
        min-height: 64px;
        max-height: 64px;
        font-size: 0.8em;
    }
    .price {
        font-size: 0.85em
    }
    
    .buy-button {
        font-size: 12px;
        // position: relative;
        // bottom: 0px
    }
    .item-img{
        height: 106px;
        width: 106px;
        margin-left: auto;
        margin-right: auto;
    }
    .grid-cat{
        margin-bottom: 10vh;
        
    }
    .filter{
        z-index: 5;
        scroll-behavior: smooth;
        overflow-y: scroll;
        position: fixed !important;
        top:  110px !important;
        left: 0 !important;
        right: 0;
        bottom: 61px !important;
        background: rgba(0, 0, 0, 0.5);
        animation-name: bounce-down;
        animation-duration: 2s;
    }
    .filter button {
        position: relative;
        float: right;
        margin: 6px;
    }

    @keyframes bounce-down {
        from {
          top: -100vh;
        }
    
        to {
          top: 110px;
        }
    }
    .filter-title{
        width: 100%;
        color: white;
        margin-top: 5vh;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
      }
    .cards-fluid {
        position: relative;
        text-align: center;
        color: black;
        background-origin: padding-box;
        padding: 24px;
    }
    .back-filter{
        background-color: white;
        ion-icon{
            position: absolute;
            top: 8px;
            right: 16px;
            color: green;
            z-index: 2;
        }
    }
      .box-fluid{
        position: absolute;
        bottom: 4px;
        top: 70%;
        left: 4px;
        right: 4px;
        // left: 0;
        // right: 0;
        // height: 24px;
        // line-height: 24px;
        text-align: center;
        // width: 100%;
        // width: 94%;
        background: rgba($color: black, $alpha: .54)
      }
      .card-item-fluid {
        padding: 0px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        // background-color: white;
        min-height: 112px;
        max-height: 124px;
    }
    .image-fluid{
        
        width: auto;
        // background: white;
        // min-height: 124px;
        // max-height: 124px;
    }

    .text-fluid {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        text-align: center;
        // margin-left: 1px;
        // margin-right: 1px;
        font-weight: 500;
        font-size: 0.8em;
        color: white;
        
    }
    .fitlers-footer{
        background:#111111;
        width: 100%;
        position: fixed;
        bottom: 57px;
        right: 0;
        left: 0;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
    }
    .filter-clean-button{
        color: white;
        position: absolute;
        left: 8px;
    }
    .check{
        border-style: solid;
        border-width: 3%;
        border-color: color($colors, green);
        border-radius: 4px;
    }
    .uncheck{
        border-width: 3%;
        border-style: solid;
        border-color: transparent;
        border-radius: 4px;
    }
    .blured{
        filter: blur(10px);
        -webkit-filter: blur(10px);
        // -moz-filter: blur(10px);
        // -o-filter: blur(10px);
        // -ms-filter: blur(10px);
        // filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");
    }
}

