<!--
  Generated template for the AddressesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header primary dir='ltr'>
  <ion-navbar [hideBackButton]="false">
      <ion-buttons right>
        <button (click)="gotoCart()" ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
      </ion-buttons>  
      <ion-buttons right>
        <button ion-button icon-only (click)="openMenu()"><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-buttons left>
        <button (click)="gotoSearch()" ion-button icon-only clear start><ion-icon name="search"></ion-icon></button>
      </ion-buttons>  
  </ion-navbar>
  <ion-toolbar style="background-color: white">
    <ion-row style="color: white" class="koo-row">
        <p col-3 >
            پرداخت
        </p>
      <ion-icon col-1 class="koo-arrow-center" name="arrow-back"></ion-icon>
      <p col-4 style="color: white">
          انتخاب آدرس
      </p>
      <ion-icon col-1 class="koo-arrow-center" name="arrow-back"></ion-icon>
      <p col-3 style="color: white" (click)="goback()">
          پیش فاکتور
      </p>  
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="main-style" dir="rtl">
  
  <ion-list-header class="koo-header">آدرس محل دریافت را انتخاب کنید</ion-list-header>
  <ion-list class="koo-list" >
    <div  (click)="selectAddress(item)" class="koo-item dropshadow" *ngFor="let item of addresses">
      <ion-row>
          <ion-icon col-2 name="square-outline" *ngIf="!item.selected"></ion-icon>
          <ion-icon col-2 name="checkmark" *ngIf="item.selected"></ion-icon>
          <p col-10 class="text-problem" [innerHTML]='item.address'></p>
      </ion-row>
    </div>
  </ion-list>

  <button ion-button [navPush]="addressPage" color="secondary" class="btn add-address-bottom">اضافه کردن آدرس جدید</button>

  
  <!--<ion-list>
    <ion-item no-lines>
        <ion-label style="color: black">آدرس محل دریافت را انتخاب کنید</ion-label>
        <ion-select *ngFor="let item of addresses" style="font-family: 'iran-sans'" [(ngModel)]="address" interface='popover'>
          <ion-option style="font-family: 'iran-sans'" [value]="item">
            {{item}}
          </ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="address">
      <p class="temp-text"  [innerHTML]='address'></p>
    </ion-item>

    <ion-item no-lines>
        <ion-label style="color: black">نحوه پرداخت را انتخاب کنید</ion-label>
        <ion-select style="font-family: 'iran-sans'" [(ngModel)]="method" interface='popover'>
          <ion-option [value]="item" *ngFor="let item of paymentMethods">
            {{item.method_title}}
          </ion-option>
        </ion-select>
        
    </ion-item>
    <ion-item *ngIf="method">
      <p class="temp-text"  [innerHTML]='method.method_title'></p>
    </ion-item>
    
    <ion-item>
        <button ion-button block>اضافه کردن آدرس جدید</button>
    </ion-item>
    <ion-item>
        <ion-label stacked>توضیحات تحویل و گیرنده</ion-label>
        <ion-input clearInput></ion-input>
    </ion-item>
    
  </ion-list>-->
  <!--<ion-footer class="mehode-footer">
      <ion-row *ngIf="methodCondition" >
        <ion-row class="selected" col-6>
          <img src="assets/icon/card-payment.png" col-4 >
          <div col-8><p>پرداخت اینترنتی</p></div>
        </ion-row>
        <ion-row (click)="selectMethod(paymentMethods[1])" class="default" col-6>
            <img src="assets/icon/cash-payment.png" col-3 >
            <div  col-8><p>پرداخت درب منزل</p></div>
        </ion-row>
      </ion-row>
      <ion-row *ngIf="!methodCondition" >
          <ion-row (click)="selectMethod(paymentMethods[0])" class="default" col-6>
              <img src="assets/icon/card-payment.png" col-3>
              <div col-8><p>پرداخت اینترنتی</p></div>
            </ion-row>
            <ion-row class="selected" col-6>
                <img src="assets/icon/cash-payment.png" col-4 >
                <div col-8><p>پرداخت درب منزل</p></div>
            </ion-row>
      </ion-row>
    </ion-footer>-->
</ion-content>
<ion-footer class="countinue-footer">
    <ion-row *ngIf="methodCondition" class="method">
        <ion-row class="selected" col-6>
          <img class="payment-img" src="assets/icon/card-payment.png" col-3 >
          <div col-9><p>پرداخت اینترنتی</p></div>
        </ion-row>
        <ion-row (click)="selectMethod(paymentMethods[1])" class="default" col-6>
            <img class="payment-img" src="assets/icon/cash-payment.png" col-3 >
            <div  col-9><p>پرداخت درب منزل</p></div>
        </ion-row>
      </ion-row>
      <ion-row *ngIf="!methodCondition" class="method" >
          <ion-row (click)="selectMethod(paymentMethods[0])" class="default" col-6>
              <img class="payment-img" src="assets/icon/card-payment.png" col-3>
              <div col-9><p>پرداخت اینترنتی</p></div>
            </ion-row>
            <ion-row class="selected" col-6>
                <img class="payment-img" src="assets/icon/cash-payment.png" col-3 >
                <div col-9><p>پرداخت درب منزل</p></div>
            </ion-row>
          <!--<div class="default" (click)="selectMethod(paymentMethods[0])" col-6><p [innerHTML]='paymentMethods[0].method_title'></p></div>
          <div  class="selected" color="secondary" (click)="selectMethod(paymentMethods[1])" col-6><p [innerHTML]='paymentMethods[1].method_title'></p></div>--> 
      </ion-row>
    <button ion-button block (click)="isItOkay()" class="countinu-button">ادامه</button>
</ion-footer>
