@font-face{
    font-family: 'iran-sans';
    src: url('../assets/fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

page-addresses {
    font-family: 'iran-sans';
    text-align: center;
    ion-navbar.toolbar {
        min-height: 16px;
    }

    .selected {
        background-color: green;
        color: white;
        font-size: 0.54em;
    }
    .default {
        background: white;
        font-size: 0.54em;
        color: gray
    }
    .bottom_bar
    {
        position: fixed;
        bottom: 4vh;
        width: 100%;
    }

    .add-address-buttom{
        // margin-bottom: 26px;
    }
    .methode-footer {
        min-height: 100px;
        max-height: 100px;
    }
    .countinu-button{
        margin: 0px;
        padding: 0px;
        min-height: 50px;
        max-height: 50px;


    }
    .countinue-footer{
        min-height: 97px;
        max-height: 97px;
        padding: 0px;
        margin: 0px;
        font-size: 1.2em
    }
    
}
.main-style {
    // min-height: 100%;
}
.koo-row {
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    padding-left: 24px;
}
.koo-arrow-center {
    margin-top: 16px
}
.koo-list {
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: inherit;
    margin-bottom: 4px;
    margin-left: 16px;
    margin-right: 16px;
}
.koo-item {
    margin: 8px;
    background-color: white;
}
.nopadding-nomargin {
    padding : 0px;
    margin: 0px;
}

.text-problem{
    white-space: pre-line;
    direction: rtl;
    text-align: right
    // white-space: initial;
    // word-wrap: break-word;
}

.dropshadow{
    box-shadow:0px 2px 5px grey;
}
.method {
    font-size: 1.3em;
    max-height : 50px;
}

.payment-img{
    width: 5vh;
    height: 7vh;
}