<ion-header primary>
    <ion-navbar dir="ltr">
        <ion-buttons right>
            <button ion-button icon-only (click)="openMenu()"><ion-icon name="menu"></ion-icon></button>
          </ion-buttons>
  
    </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list dir="rtl">
    <ion-item no-lines class="img-center">
      <ion-img width=128 height=128 src="assets/imgs/koo-icon.png"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label floating>نام کاربری</ion-label>
      <ion-input type="text" [(ngModel)]="userData.username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>رمز ورود</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password"></ion-input>
    </ion-item>
    <ion-item no-lines style="text-align: center;">
        <button style="display: inline-block;" color="secondary" ion-button small (click)="login()" >ورود</button>
    </ion-item>

    <ion-item no-lines style="text-align: center;">
        <button style="display: inline-block;"  [navPush]="RegisterPage" ion-button clear >ثبت نام</button>
    </ion-item>
    
  </ion-list>

</ion-content>
