<ion-tabs>
    <ion-tab [root]="reviewsRoot" tabTitle="Reviews" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="productInformationRoot" tabTitle="Product information" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="moreRoot" tabTitle="More" tabIcon="information-circle"></ion-tab>
</ion-tabs>
