<ion-header>
    <ion-navbar>
      <ion-title>ثبت نام</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list dir="rtl">
      <ion-item dir="rtl">
          <ion-label dir="rtl" floating>نام کاربری</ion-label>
          <ion-input dir="rtl" type="text" [(ngModel)]="newUser.username" ></ion-input>
        </ion-item>
    <ion-item>
      <ion-label floating>نام</ion-label>
      <ion-input dir="rtl" type="text" [(ngModel)]="newUser.first_name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating> نام خانوادگی</ion-label>
      <ion-input dir="rtl" type="text" [(ngModel)]="newUser.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>شماره تلفن</ion-label>
      <ion-input dir="rtl" type="tel" [(ngModel)]="newUser.addresses.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>ایمیل</ion-label>
      <ion-input dir="rtl" type="text" [(ngModel)]="newUser.email" [(ngModel)]="newUser.email"  (ionBlur)="checkUserEmail(newUser.email)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>رمز عبور</ion-label>
        <ion-input dir="rtl" type="password" [(ngModel)]="newUser.password"></ion-input>
    </ion-item>
    <ion-item>
      
        <ion-label floating>آدرس</ion-label>
        <ion-input dir="rtl" type="address" [(ngModel)]="newUser.addresses.address_1"></ion-input>
    </ion-item>
    <button ion-button block [color]="newUser.isValid ? 'secondary' : 'primary' " (click)="register()" >ثبت نام</button>
  </ion-list>

</ion-content>
