<ion-tabs #mainTabs class="simple-font" [selectedIndex]="index">
    <ion-tab class="simple-font" style="font-size: 0.5rem"  tabIcon="home"         tabTitle="خانه"            [root]="homeRoot" ></ion-tab>
    <ion-tab class="simple-font" tabIcon="list"         tabTitle="دسته بندی ها" [rootParams]="subCategoriesParams"    [root]="subCategoriesPage"></ion-tab>
    <ion-tab class="simple-font" tabIcon="cart"         tabTitle="سبد"             [root]="cartPage"  [tabBadge]='cartCount'  ></ion-tab>
    <ion-tab class="simple-font" tabIcon="search"   tabTitle="جستجو"    [root]="searchPage" ></ion-tab>
    <ion-tab class="simple-font" tabIcon="heart" tabTitle="علاقه مندی"    [root]="favoritesRoot"   ></ion-tab>
</ion-tabs>
  