@font-face{
    font-family: 'iran-sans';
    src: url('../assets/fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
page-tabs {
}
.simple-font {
    font-family: 'iran-sans';
    direction: rtl;
}