<ion-header primary>
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-buttons left>
        <button (click)='gotoCart()' ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
      </ion-buttons>
      <ion-title>دسته بندی ها</ion-title>
      <ion-buttons right>
        <button (click)="gotoSearch()" ion-button icon-only clear><ion-icon name="search"></ion-icon></button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content >

        <ion-grid>
                <ion-row no-margin no-padding>
                  <ion-col class="cards"  (click)="gotoSubCategory(cat.id, cat.name)"   col-4 *ngFor="let cat of categories">
                      <div class="card">
                          <img no-margin class="image" [src]="cat.image != null ? cat.image.src : 'assets/imgs/koo-icon.png'" />
                          <!--<hr no-margin no-padding>-->
                          <div class="box">
                          <p class="text" [innerHTML]="cat.name"></p>
                          </div>
                      </div>
                  </ion-col>
                </ion-row>
              </ion-grid>

</ion-content>
