page-super-market {
    direction: rtl;
    align-content: center;
    text-align: center;
    .cards {
        align-content: center;
        text-align: center;
        margin-top: 0px;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        min-height: 175px;
        max-height: 175px;
    }
    .card {
        padding: 0px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 0px;
        background-color: white;
        min-height: 170px;
        max-height: 170px;
    }
    .box{
        height: 64px;
        line-height: 64px;
        text-align: center;
    }
    .text {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        text-align: center;
        margin-left: 1px;
        margin-right: 1px;
        font-weight: 900;
        font-size: 0.8em;
        
    }
    .image{
        
        width: auto;
        min-height: 100px;
        max-height: 100px;
    }
    .sans-font {
        height: 64px;
        direction: rtl;
        font-family: 'iran-sans';
        text-align: right;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        font-size: 12px;  
    }
    .sans-font-container {
        padding: 0px;
        margin: 0px;
        direction: rtl;
        font-family: 'iran-sans';
        text-align: right;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        font-size: 12px;
    }
    .cat-row{
        align-content: flex-end;
    }
}
