<ion-header primary dir="ltr">
    <ion-navbar [hideBackButton]="false">
      <ion-buttons right>
          <button (click)='gotoCart()' ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only (click)="openMenu()"><ion-icon name="menu"></ion-icon></button>
        </ion-buttons>
        <ion-buttons left>
          <button (click)="gotoSearch()" ion-button icon-only clear><ion-icon name="search"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content>

  <ion-list padding="8px">
      <ion-item no-lines >
        <input [(ngModel)]="name"   dir="rtl" placeholder="نام و نام خانوادگی تحویل گیرنده" class="distance" >
      </ion-item>

      <ion-item no-lines>
          <input type="tel" [(ngModel)]="phone" dir="rtl" placeholder="شماره تماس" class="distance" >
      </ion-item >
      <ion-item no-lines>
          <input [(ngModel)]="post" dir="rtl" placeholder="کد پستی" class="distance">
      </ion-item>
      <ion-item no-lines>
          <textarea [(ngModel)]="address" ir="rtl" placeholder="آدرسی" class="distance"></textarea>
      </ion-item>
  </ion-list>

  <!--<textarea [(ngModel)]="address" placeholder="آدرس را وارد کنید" cols=32 rows=15>

  </textarea>-->
  <button ion-button class="button-block positining-button" (click)="add()" color="secondary">افزودن</button>

</ion-content>
