<!--
  Generated template for the CreateGroupeModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      
    <ion-title>CreateGroupeModal</ion-title>

    <ion-buttons start>
    <button ion-button icon-only (click)="closeModal($event)" >
      <ion-icon item-left name="close" ></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>    

</ion-content>
