<ion-tabs id="mainCategory" tabsPlacement="top" selectedIndex="1" tabsHideOnSubPages="true">
    <ion-tab [root]="fruitsRoot"        tabTitle="میوه ها"        ></ion-tab>
    <ion-tab [root]="superMarketRoot"   tabTitle="خواروبار" ></ion-tab>
</ion-tabs>
