@font-face{
    font-family: 'iran-sans';
    src: url('../assets/fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
page-cart {
    .footer{
        position: absolute;
        margin: 0px;
        height: 55px;
        font-family: 'iran-sans';
        font-size: 20px
    }

    .special-price {
        order: 2;
        .woocommerce-Price-amount {
            color: green;
            padding: 2px;
            font-size: 1.1em;            
        }
    
        // .woocommerce-Price-currencySymbol {
            
        // }
    
        // .amount {
    
        // }
    
        // .woocommerce-Price-currencySymbol{
    
        // }
    }
    
    .old-price {
        order: 1;
        text-decoration: line-through;
        font-size: 0.9em;
    }
    
    
    .main-style {
     background-color: #f4f4f4
    }
    
    .delete-count {
        padding: 0px;
        margin: 0px;
        max-width: 20vw;
        
        .button-icon {
            margin-top: -4px;
            // margin-right: 18px;
            padding: 0px;
            color: rgba($color: black, $alpha: .54);
            
        }
    
        .item-select{
            // max-width: 80px;
            // margin-right: 25px;
            // margin-right: 4px;
            padding: 0px;
        }
    }
    
    .white {
        background-color: white;
    }
    
    .item-footer {
        width: 100%;
        // height: 128px;
        background-color: white
    }
    .dropshadow{
        box-shadow:0px 2px 5px grey;
    }
    .items{
        margin: 0px;
    }
    .img{
        margin: 1px;
    }
    .item-count{
    position: relative;
    float: left;
    margin-left: 0px;    
    }
    .delete-button{
        position: relative;
        float: left;
    }
    .count-text{
        // width: 80px;
        position: relative;
        float: left;
        width: 20vw;
        padding: 0px;
        margin: 0px;
        ion-col{
            zoom: 1.1;
        }
    }
    .input-number{
        // width: 32px
        // height: 42px;
        height: 5vh;
        padding: 0px;
        margin: 0px;
        text-align: center;
        ion-input{
            padding: 0;
        }
    }
      

    .box-pro{
        width: 8vw;
        height: 2vh;
        text-align: center;
    }
    .text-pro {
        display: inline-block;
        vertical-align: top;
        white-space: initial;
        line-height: 18px;
        line-break: auto;
        text-align: right;
        margin-left: 1px;
        margin-right: 1px;
        // width: 32vw;
        width: 100%;
        font-size: 0.8em;
        div{
            display: flex;
            width: 100%;
        }
    }   
}
