<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header primary>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button (click)='gotoCart()' ion-button icon-only>
        <ion-icon name="cart">
          <ion-badge color="light"></ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>سبد خرید</ion-title>
    <ion-buttons right>
      <button (click)="gotoSearch()" ion-button icon-only clear>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div dir='rtl' *ngIf="!loading && totalPrice != 0" style="background-color: white; height:  32px;padding-top: 10px; padding-right: 8px">
    کل پرداختی :
    <div style="width: 50px"></div>{{totalPrice}} تومان
  </div>
  <div dir='rtl' *ngIf="loading || totalPrice == 0" style="background-color: white; height:  32px;padding-top: 10px; padding-right: 8px">
    در حال بارگذاری ...
  </div>
</ion-header>

<!--<ion-header primary>
    <ion-toolbar>
            <ion-buttons end>
                <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
            </ion-buttons>

            
         
            
  
    </ion-toolbar>
    <div dir='rtl' style="background-color: white; height:  32px;padding-top: 10px; padding-right: 8px">
       کل پرداختی :{{totalPrice}} 
    </div>
</ion-header>-->
<ion-content style="font-family: 'iran-sans'">

  <ion-refresher (ionRefresh)="getCartItems($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list dir="rtl" *ngFor="let item of cartItems; let i = index" style="margin: 8px; background-color: white">
    <div class="dropshadow">

      <ion-item no-lines class="items white">
        <div class="text-pro" *ngIf="item.price != 0 && item.price != ''" [innerHTML]="item.name + '<br>' +'<div>'+ item.price_html +'</div>'"></div>
        <p class="text-pro" *ngIf="item.price == 0 || item.price == ''" [innerHTML]="item.name + '<br><span class=zero-price >به زودی</span>'"></p>
        <!--<p class="text-pro" [innerHTML]="item.name"></p>-->
        <!--<div class="box-pro">
                                <p class="text-pro" [innerHTML]="item.name"></p>
                            </div>-->
        <!--<p class="item-name" [innerHTML]="item.name"></p>-->
        <!--<p class="item-name" [innerHTML]="item.price_html"></p>-->
        <ion-thumbnail item-start>
          <img class="img" [src]="item.images[0].src">
        </ion-thumbnail>
        <div item-end class="delete-count">
          <button class="delete-button" ion-button icon-only clear (click)="deleteItem(i, item.price, item.count)">
            <ion-icon name="trash" class="button-icon"></ion-icon>
          </button>
          <ion-row class="count-text">
            <ion-col col-3>
              <ion-icon name="md-arrow-dropup" tappable="true" (click)="more(item)"></ion-icon>
              <ion-icon name="md-arrow-dropdown" tappable="true" (click)="less(item)"></ion-icon>
            </ion-col>
            <ion-item col-9 class="white input-number">
              <ion-input type="number" min="1" (ionChange)="onSelectChange(item)" (input)="onSelectChange(item)" max="{{item.stock_quantity}}"
                [(ngModel)]="item.count" text-center></ion-input>
            </ion-item>
          </ion-row>‍
          <!--<ion-item class="item-select white" >-->
          <!-- <ion-select [(ngModel)]="item.count" (ionChange)="onSelectChange($event)" cancelText="بیخیال" okText="تایید" class="item-select" interface="popover"> -->
          <!-- <ion-option *ngFor="let item of Arr.from(Arr(item.stock_quantity).keys()).map(incremment) " checked="item == product.count" value="{{item}}" class="select-option" >{{item}}</ion-option> -->
          <!-- </ion-select> -->
          <!--</ion-item>-->
        </div>
      </ion-item>
      <hr style="margin: 0px" class="item-footer">
      <ion-item no-lines style="padding-top: 1px;height: 32px">
        <div>
          <p style="font-size: 11px; padding: 2px">قیمت کل : {{item.regular_price * item.count}}</p>
          <p style="font-size: 11px; padding: 2px">تخفیف برای شما {{(item.regular_price * item.count) - (item.price * item.count)}} </p>
        </div>
        <div item-end>
          <p style="font-size: 11px; padding: 2px; color: green">مبلغ پرداختی</p>
          <p style="font-size: 11px; padding: 2px; color: green">{{item.price * item.count}}</p>
        </div>
      </ion-item>
    </div>
  </ion-list>


</ion-content>
<ion-footer ion-button block (click)="confirmCart()">ثبت و ادامه</ion-footer>
