@font-face{
    font-family: 'iran-sans';
    src: url('../assets/fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

page-home {
    text-align: center;
    .cards {
        align-content: center;
        text-align: center;
        filter:drop-shadow(2px 2px 2px gray);
    }
    .card-item {
        padding: 0px;
        background-color: white;
        height: 100%;
    }
    .box{
        height: 64px;
        line-height: 64px;
        text-align: center;
    }
    .text {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        text-align: center;
        margin-left: 1px;
        margin-right: 1px;
        font-weight: 900;
        font-size: 2.2em;
        
    }
    .image{
        
        width: auto;
        min-height: 100px;
        max-height: 100px;
    }
    .sans-font {
        height: 64px;
        direction: rtl;
        font-family: 'iran-sans';
        padding: 4px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        font-size: 12px;  
    }
    .sans-font-container {
        padding: 0px;
        margin: 0px;
        direction: rtl;
        font-family: 'iran-sans';
        padding: 4px;
        text-align: right;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        font-size: 12px;
    }
    // ion-icon {
    //     font-size: 30px; //Preferred size here
    // }
    .buy-button {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        position: relative;
        bottom: 0px
    }
    #buy-count {
        width: 0px;
            
    }

    .card-back {
        background-color: white;
        // text-align: center;
    }
    .icon-dist{
        margin-right: 2px;
        margin-left: 2px;
    }
    // .price-font {
    //     font-size: 0.85em
    // }
    
    .text-no-padding {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-right: 2px;
        padding-left: 2px;
        font-size: 0.8em;
    }
    .item-img{
        height: 106px;
        padding: 2px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .box-pro{
        height: 54px;
        line-height: 54px;
        text-align: center;
    }
    .text-pro {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        text-align: center;
        margin-left: 1px;
        margin-right: 1px;
        // font-weight: 900;
        font-size: 0.8em;
        
    }

}
.network-status{
    z-index: 10;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-top: 2vh;
    text-align: right;
    max-height: 4vh;
    h6{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    button{
        background: #f4f4f4;
    }  
    .heart-container{
        width: 100%;
    } 
}
.banner-slides{
    max-height: 25vh;
}

.slide-cards{
    margin-left: 3px;
    margin-right: 3px;
}
// * {
//     font-family: 'iran-sans' !important;
// }
