<ion-header primary>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-buttons left>
      <button (click)='gotoCart()' ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
    </ion-buttons>
    <ion-title>خانه</ion-title>
    <ion-buttons right>
      <button (click)="gotoSearch()" ion-button icon-only clear><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content style="top: 0px; background-color: #f4f4f4;">
    <!--> <ion-slide-box show-pager="true" does-continue="true" pager-click="true" auto-play="true" slide-interval="4000">
        <ion-slide ng-repeat="count in [1,2,3,4]">
            <img ng-src="img/home_slider/{{count}}.jpg" class="full-image"/>
        </ion-slide>
    </ion-slide-box> -->

    <ion-slides #bannerSlides dir='rtl' class="banner-slides">
        
      <ion-slide>
        <img src="http://89.42.209.153:3002/img/1.jpg"/>
      </ion-slide>
      <ion-slide>
        <img src="http://89.42.209.153:3002/img/2.jpg"/>
      </ion-slide>
      <ion-slide>
        <img src="http://89.42.209.153:3002/img/3.jpg"/>
      </ion-slide>
        
    </ion-slides>

    <ion-refresher (ionRefresh)="getAll($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <div class="sans-font-container">
            تازه ترین محصولات
                
            <button disabled float-left class="button button-small button-assertive button-clear" ui-sref="app.categories()">نمایش همه</button>
        </div>
        <ion-row>
          <ion-slides no-margin #productSlides dir="rtl" slidesPerView="2.5">
            <ion-slide class="slide-cards" *ngFor="let product of newProducts">
              <div no-padding class="card-back">
                    <ion-icon name="heart-outline" (click)="addToFavorites($event, product)" color="dark" *ngIf="!product.favorit" float-left style="margin-top: 4px; margin-left: 4px; margin-right: 80%"></ion-icon>
                    <ion-icon name="heart" (click)="deleteFromFavorites($event, product)" color="danger" *ngIf="product.favorit" float-left style="margin-top: 4px; margin-left: 4px; margin-right: 80%"></ion-icon>
                <img [navPush]="productPage" [navParams]="{id: product.id}" class="item-img" [src]="product.images[0].src"/>
                <div class="box-pro">
                  <p class="text-no-padding price" [navPush]="productPage" class="text-pro" [navParams]="{id: product.id}" [innerHTML]="product.name"></p>
                  <!--<p class="" [innerHTML]="product.name" [navPush]="productPage" [navParams]="{id: product.id}"></p>-->
                </div>
                <p [navPush]="productPage" [navParams]="{id: product.id}" [innerHTML]="product.price_html"></p>
                <!--<button class="buy-button" ion-button (click)="addToCart( product )" *ngIf="product.stock_quantity" block color="secondary" ><ion-icon class="icon-dist" name="cart"></ion-icon>  افزودن به سبد  </button>
                <button class="buy-button" ion-button *ngIf="!product.stock_quantity" block color="secondary" >  موجود نیست  </button>-->
                <button id="buy-button" class="buy-button" color="secondary"  ion-button block (click)="addToCart(product)"><div no-margin no-padding *ngIf="!product.stock_quantity"> موجود نیست </div><div no-margin no-padding *ngIf="product.stock_quantity"><ion-icon class="icon-dist" name="cart"></ion-icon>  افزودن به سبد  </div></button>    
                </div>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </ion-grid>


      <ion-grid>
          <div class="sans-font-container">
              پرفروش ترین ها                  
              <button disabled float-left class="button button-small button-assertive button-clear" ui-sref="app.categories()">نمایش همه</button>                    
          </div >
          <ion-row>
            <ion-slides no-margin #MostSalesSlides dir="rtl" slidesPerView="2.5">
              <ion-slide no-padding class="slide-cards" *ngFor="let sale of mostSales">
                <div no-padding class="card-back">
                    <ion-icon name="heart-outline" (click)="addToFavorites($event, sale)" color="dark" *ngIf="!sale.favorit" float-left style="padding: 2px; padding-left: 4px"></ion-icon>
                    <ion-icon name="heart" (click)="deleteFromFavorites($event, sale)" color="danger" *ngIf="sale.favorit" float-left style="padding: 2px; padding-left: 4px"></ion-icon>
                  <img [navPush]="productPage" [navParams]="{id: sale.id}" [src]="sale.images[0].src ? sale.images[0].src : 'assets/images/waiting.png'" />
                  <!--<p  class="sans-font sans-font" [navPush]="productPage" [navParams]="{id: sale.id}" text-wrap [innerHTML]="sale.name"></p>
                  <p  class="price-font" [navPush]="productPage" [navParams]="{id: sale.id}" [innerHTML]="sale.price_html"></p>-->
                  <div class="box-pro">
                    <p [navPush]="productPage" class="text-pro" [navParams]="{id: sale.id}" [innerHTML]="sale.name"></p>
                    <!--<p class="" [innerHTML]="product.name" [navPush]="productPage" [navParams]="{id: product.id}"></p>-->
                  </div>
                  <p [navPush]="productPage" [navParams]="{id: sale.id}" [innerHTML]="sale.price_html"></p>
                    <!--<div class="col" no-padding no-margin>
                        <button id="buy-button" class="buy-button" *ngIf="sale.stock_quantity" color="secondary" ion-button block (click)="addToCart(sale)"><ion-icon class="icon-dist" name="cart"></ion-icon>  افزودن به سبد  </button>
                        <button class="buy-button" ion-button *ngIf="!sale.stock_quantity" block color="secondary" >  موجود نیست  </button>
                    </div>-->
                    <button id="buy-button" class="buy-button" color="secondary"  ion-button block (click)="addToCart(sale)"><div no-margin no-padding *ngIf="!sale.stock_quantity"> موجود نیست </div><div no-margin no-padding *ngIf="sale.stock_quantity"><ion-icon class="icon-dist" name="cart"></ion-icon>  افزودن به سبد  </div></button>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-row>
        </ion-grid>
          <ion-grid>
              <div class="sans-font-container">
                  دسته بندی ها                  
                  <button (click)="gotoSubCategory   ()" float-left class="button button-small button-assertive button-clear" style="font-family: 'iran-sans' !important" ui-sref="app.main-categories()">نمایش همه</button>                    
              </div>
            <ion-row no-margin no-padding>
              <ion-col class="cards"  (click)="gotoSubCategory(cat.id, cat.name)"   col-4 *ngFor="let cat of categories">
                  <div class="card-item">
                      <img no-margin [src]="cat.image != null ? cat.image.src : 'assets/imgs/koo-icon.png'" />
                      <!--<hr no-margin no-padding>-->
                      <div class="box">
                      <p class="text" [innerHTML]="cat.name"></p>
                      </div>
                  </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          
          
          

        
</ion-content>
