// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: multi;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$toolbar-background: #B7100a;
$img-placeholder-background: '../assets/imgs/koo-icon.png';
$tabs-ios-tab-font-size: 1.1rem;
$tabs-md-tab-font-size: 1.1rem;
$background-color: #e6e6e6 !default;
$text-input-highlight-color-valid: #333333;
// $modal-md-background-color: #B7100a;
// $modal-inset-box-shadow-color: rgba(0, 0, 0, .4);

$colors: (
  primary:    #B7100a,
  secondary:  #2e9d32,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  gray:       #aaa,
  blue: #1976d2,
  green: #4caf50

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "../assets/fonts/irsans.ttf";
@import "roboto";
@import "noto-sans";
