<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header primary dir="ltr">
  <ion-navbar [hideBackButton]="false">
    <ion-buttons right>
        <button (click)='gotoCart()' ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
      </ion-buttons>
      <ion-buttons right>
          <button ion-button icon-only (click)="openMenu()"><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-buttons left>
        <button (click)="gotoSearch()" ion-button icon-only clear><ion-icon name="search"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="align-content: center; text-align: center; font-family: 'iran-sans'">

  <ion-list class="top-items" *ngIf="product">
        <ion-slides >
            <ion-slide *ngFor="let item of images">
              <img [src]="item.src" style="height: 200px">
            </ion-slide>
        </ion-slides>
    <ion-item dir="rtl">
          <b [innerHTML]="product.name"></b>
          <p dir="rtl" [innerHTML]="product.price_html"></p>
    </ion-item>
    <ion-item style="background-color: white;">
      <ion-row center no-padding *ngIf="product" style="justify-content: center; text-align: center"> 
        <div col-2 no-margin no-padding class="top-down">
          <ion-icon no-margin no-padding name="arrow-dropup" tappable="true" (click)="moree(product)"></ion-icon>
          <ion-icon no-margin no-padding name="arrow-dropdown" tappable="true" (click)="less(product)"></ion-icon>
        </div>
        <ion-item col-2 class="white input-number" no-lines >
          <ion-input type="number" min="1" (ionChange)="onSelectChange(product)" (input)="onSelectChange(product)" max="{{product.stock_quantity}}" [(ngModel)]="product.count"></ion-input>
          </ion-item>
        <div no-maring no-padding col-4>
            <button *ngIf="product.stock_quantity" block (click)="addToCart( product )" color="secondary" ion-button><ion-icon name="cart"></ion-icon>افزودن به سبد</button>
            <button *ngIf="!product.stock_quantity" ion-button block color="secondary" >  موجود نیست  </button>
        </div>
      
        <div no-margin no-padding col-4>
            <ion-icon *ngIf="!product.favorit" name="heart-outline" (click)="addToFavorites($event, product)" color="gray" style="margin-top: 8px; font-size: 25px" ></ion-icon> 
            <ion-icon *ngIf="product.favorit" name="heart" (click)="deleteFromFavorites($event, product)"    color="danger" style="margin-top: 8px; font-size: 25px"></ion-icon>
        </div>
    </ion-row>
    </ion-item>
  </ion-list>


  <!--<ion-row>
    <button ion-button full col-3>نظرات مشتریان</button>
    <button ion-button full col-3>مشخصات کالا</button>
    <button ion-button full col-3>اطلاعات بیشتر</button>    
  </ion-row>-->

  <div style="background-color: white; filter:drop-shadow(2px 2px 2px gray);" margin="16">
    <div>
        <ion-segment [(ngModel)]="segment" >
            <ion-segment-button value="rev">
                نظرات
            </ion-segment-button>
            <ion-segment-button value="more">
                بیشتر
              </ion-segment-button>
              <ion-segment-button value="att">
                 مشخصات
            </ion-segment-button>
            
        </ion-segment>
      
          <!--Create 3 divs to hold tags of upper tabs-->

          <div [ngSwitch]="segment">

              <div *ngSwitchCase="'att'" style="background-color: white">
                  <ion-list *ngIf="productAttributes" dir="rtl" >
                    <ion-item *ngFor="let item of productAttributes" style="background-color: white">
                      <ion-row>
                        <h4  col-4 [innerHTML]="item.name"></h4>
                        <p col-8  [innerHTML]="item.options[0]"></p>
                      </ion-row>
                    </ion-item>
                  </ion-list>
                </div>

                <div *ngSwitchCase="'more'"  >
                    <p>  اطلاعات بیشتری وجود ندارد  </p>
                </div>

                <div *ngIf="segment == 'rev'" margin="4">
                    <ion-list *ngIf="productReviews" style="background-color: white">
                      <ion-item class="center" *ngIf="product" >
                        <ion-row>
                            <p style="margin-top: auto; margin-bottom: auto" col-2 [innerHTML]="product.average_rating"></p>
                            <rating style="margin-top: auto; margin-bottom: auto" col-8
                            [(ngModel)]="product.average_rating"
                            readOnly="true" 
                            max="5" 
                            emptyStarIconName="star-outline"
                            halfStarIconName="star-half" 
                            starIconName="star" 
                            nullable="false"></rating>
                        </ion-row>
              
                          <!--> <rating [(ngModel)]="rate" 
                          readOnly="false" // default value, so it can be ommited
                          max="5" // default value
                          emptyStarIconName="star-outline" // default value
                          halfStarIconName="star-half" // default value
                          starIconName="star" // default value
                          nullable="false" // default value
                          (ngModelChange)="onModelChange($event)"></rating> -->
                      </ion-item>
                      <ion-item  *ngFor="let item of productReviews" dir="rtl">
                        <ion-grid>
                          <ion-row>
                              <h6 col-6 [innerHTML]="item.name"></h6>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                    </ion-list>
                  </div>

          </div>

          
    </div>

    
  </div>

  

</ion-content>