@font-face{
  font-family: 'iran-sans';
  src: url('../assets/fonts/irsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
page-product {
  text-align: center;

  .sans-font {
    height: 64px;
    direction: rtl;
    font-family: 'iran-sans';
    padding: 4px;
    text-align: right;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    font-size: 12px;  
}
.sans-font-icon {
  direction: rtl;
  font-family: 'iran-sans';
  padding: 2px;
  text-align: center;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  font-size: 12px;  
}
.sans-font-container {
    padding: 0px;
    margin: 0px;
    direction: rtl;
    font-family: 'iran-sans';
    padding: 4px;
    text-align: right;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    font-size: 12px;
}

  .top-items {
    background-color: white;
    text-align: center;
    margin-bottom: 0px;
    filter:drop-shadow(2px 2px 2px gray);
    ion-item{
      text-align: center;
      background-color: white;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  .selector{
    background-color: white;
    max-width: 32px; padding: 0px; font-size: 12px

  }

  .selector-back {
    background-color: white;
  }

  .selectWrapper {
    .select-icon {
      visibility: hidden;
    }
       }

  select::-ms-expand {
    display: none;
}

  ul {
    // padding: 0px;


   
    &.rating li {
      // position: absolute;
      padding: 2px 2px !important;
      background: none;
      color: #ffb400;


   
      ion-icon {
        font-size: 20px;
      }
    }
  }

    .button-group {
        .col {
          &:first-child:not(:last-child) {
            padding-right: 0;
            .button {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
          &:not(:first-child):not(:last-child) {
            padding-right: 0;
            padding-left: 0;
            .button {
              border-radius: 0;
            }
          }
          &:last-child:not(:first-child) {
            padding-left: 0;
            .button {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }

      

      .center {
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;  
    }

    .item-count{
      position: relative;
      float: left;
      margin-left: 0px;    
      }
      .delete-button{
          position: relative;
          float: left;
      }
      .count-text{
          width: 80px;
          padding: 0px;
          margin: 0px;
      }
      .input-number{
          // width: 32px
          height: 42px;
      }
      .top-down{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      }

}
ion-select {
        max-width: 32px;
        padding: 0px;
    }
