<ion-menu persistent=“true” side="right" [content]="content" class="menu-font">
    
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title *ngIf="!loggedIn"  dir="rtl"><button menuClose (click)="openPage(loginPage)" ion-button clear color="light" >ثبت نام و ورود</button></ion-title> -->
        </ion-toolbar>
      </ion-header>    
      <ion-content>
        <ion-list dir="rtl" no-lines>
          <div class="container">
              <img src="assets/imgs/drawer.jpg" class="img-overlay">
              <ion-title class="bottom-left " *ngIf="!loggedIn"  dir="rtl"><button menuClose (click)="openPage(loginPage)" ion-button clear color="dark" >  ثبت نام و ورود  <ion-icon name="arrow-dropdown">  </ion-icon>  </button>  </ion-title>
          </div>
            

          <ion-item>
            <button menuClose (click)="gotoHome()" color="dark" ion-button clear><ion-icon padding name="home"></ion-icon>خانه</button>
          </ion-item>
          <ion-item>
            <button menuClose (click)="gotoCat()" color="dark" ion-button clear><ion-icon padding name="list"></ion-icon>دسته بندی ها</button>
          </ion-item>
            
            <!-- <ion-item-divider *ngIf="loggedIn" ></ion-item-divider> -->
            <hr *ngIf="loggedIn">
            <ion-item menuClose *ngIf="loggedIn"><button disabled color="dark" ion-button clear><ion-icon padding name="map"></ion-icon>آدرس های من</button></ion-item>
            <ion-item menuClose (click)="gotoCart()" *ngIf="loggedIn"><button [navPush]="cartPage" color="dark" ion-button clear><ion-icon padding name="cart"></ion-icon>سبد خرید</button></ion-item>
            <ion-item menuClose *ngIf="loggedIn"><button disabled color="dark" ion-button clear><ion-icon padding name="clock"></ion-icon>تاریخچه خرید</button></ion-item>

            <!-- <ion-item-divider></ion-item-divider> -->
            <hr>

            <ion-item><button menuClose color="dark" disabled ion-button clear><ion-icon padding name="cog"></ion-icon>تنظیمات</button></ion-item>
            <ion-item><button menuClose color="dark" ion-button clear><ion-icon padding name="headset"></ion-icon>پشتیبانی</button></ion-item>
            <ion-item><button menuClose color="dark" disabled ion-button clear><ion-icon padding name="add"></ion-icon>پیشنهاد کالای درخواستی</button></ion-item>
            <ion-item><button menuClose color="dark" ion-button clear><ion-icon padding name="information"></ion-icon>درباره ما</button></ion-item>
            
        </ion-list>
      </ion-content>
    
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false" class="menu-font">

</ion-nav>
