// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'iran-sans';
  src: url('../assets/fonts/irsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-font {
  font-family: 'iran-sans' !important;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.img-overlay {
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */

.bottom-left {
  position: absolute;
  bottom: 14px;
  left: 16px;
}

.special-price {
  .woocommerce-Price-amount {
    color: green;
    padding: 2px;
    font-size: 0.85em;
  }
}

.old-price {
  text-decoration: line-through;
  margin: 2px;
  font-size: 0.7em;
  color: black;
  text-decoration-color: red
}

.zero-price {
  color: blue;
}

.card-col {
  padding: 0px;
  margin: 0px;
}

.menu-toggle {
  display: block !important;
}
