<ion-header primary>
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
      <ion-buttons left>
        <button (click)='gotoCart()' ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
      </ion-buttons>
      <ion-title>علاقه مندی ها</ion-title>
      <ion-buttons right>
        <button (click)="gotoSearch()" ion-button icon-only clear><ion-icon name="search"></ion-icon></button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="getAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <!--<div style="direction: rtl; position: relative">

        <ion-list>
            <ion-list-header>
                گروه های محبوب شما
            </ion-list-header>
            <ion-item *ngFor="let item of groups">
                <ion-img disabled src="http://lorempixel.com/128/128/food/" style="width: 68px; height: 68px" item-start>
                </ion-img>
                <h2>{{item.title}}</h2>
                <p>{{item.subTitle}}</p>
            </ion-item>
          </ion-list>

              <button disabled style="position: absolute;left: 8px;bottom: -20%;" color="secondary" (click)="openCreateGroupeModal()" ion-fab mini>+</button>
          
    </div>-->
  
    <ion-list dir="ltr">
        <ion-list-header dir="rtl">
            محصولات محبوب شما
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of individuals; let i = index">
            <ion-item dir="rtl" [navPush]="productPage" [navParams]="{id: item.id}">
                <img [src]="item.images[0].src" style="width: 68px; height: 68px" item-start />
                <p class="item-text">{{item.name}}</p>
                <p [innerHTML]="item.price_html"></p>
            </ion-item>
            <ion-item-options side="right">
                    <button ion-button (click)="deleteFromFavorites(i, item)"  color="gray">
                      <ion-icon name="trash"></ion-icon>
                      حذف
                    </button>
            </ion-item-options>
            <ion-item-options side="left">
              <button ion-button (click)="addToCart(item)"  color="secondary">
                <ion-icon name="cart"></ion-icon>
                اضافه به سبد
              </button>
            </ion-item-options>
                  <!--<ion-item-options side="right">
                    <button ion-button color="primary">
                      <ion-icon name="mail"></ion-icon>
                      Email
                    </button>
                  </ion-item-options>-->
        </ion-item-sliding>
      </ion-list>
  

</ion-content>
