<ion-header primary>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-buttons start>
      <button (click)='gotoCart()' ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
    </ion-buttons>
    <ion-title>میوه ها</ion-title>
    <ion-buttons end>
      <button (click)="gotoSearch()" icon-only clear><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
          <ion-grid>
                  <ion-row>
                    <ion-col col-6 *ngFor="let cat of categories">
                        <ion-card no-padding>
                            <img [src]="cat.image != null ? cat.image.src : 'assets/imgs/koo-icon.png'" />
                            <h1 padding center> {{ cat.title }} </h1>
                            <p center padding [innerHTML]="cat.name"></p>
                          </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
  
  </ion-content>
