@font-face{
    font-family: 'iran-sans';
    src: url('../assets/fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
page-search {
    text-align: center;
    font-family: 'iran-sans';

    .simple-font {
        font-family: 'iran-sans';
    }
    .no-bottom-distance {
    
        padding-bottom: 0px;
        background-color: white
    }
    
    .text-no-padding {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-right: 2px;
        padding-left: 2px;
    }

    .text-height {
        min-height: 64px;
        max-height: 64px;
        font-size: 0.8em;
    }
    .price {
        font-size: 0.85em
    }
    
    .go-bottom {
        margin-bottom: 0px; 
    
    }

    .box{
        height: 64px;
        line-height: 64px;
        text-align: center;
    }
    .text {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        text-align: center;
        margin-left: 1px;
        margin-right: 1px;
        // font-weight: 900;
        font-size: 0.8em;
        
    }
    .item-img{
        padding: 2px;
    }

}
