
<ion-header primary>
    <ion-toolbar>
        <ion-buttons left>
        <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
        </ion-buttons>
        <ion-buttons left>
        <button (click)='gotoCart()' ion-button icon-only><ion-icon name="cart"><ion-badge color="light"></ion-badge></ion-icon></button>
        </ion-buttons>
        <ion-title>جستجو</ion-title>
        <ion-buttons right>
        <button (click)="gotoSearch()" ion-button icon-only clear><ion-icon name="search"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>
 </ion-header>

<ion-content class="simple-font">

    <form (ngSubmit)="onSubmit()" >
        <ion-input dir="rtl" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"  clearInput type="text" placeholder="جستجو"></ion-input>
    </form>
        <hr>

        <ion-spinner *ngIf="searching"  style="margin-left: 50% !important; margin-right: 50% !important"></ion-spinner>
    <ion-grid>
        <ion-row>
            <ion-col class="simple-font card-col" col-6 *ngFor="let product of products">
                <div no-padding class="no-bottom-distance">
                        <ion-icon name="heart-outline" (click)="addToFavorites(product)" color="dark" *ngIf="!product.favorit" float-left style="padding: 2px; padding-left: 4px"></ion-icon>
                        <ion-icon name="heart" (click)="deleteFromFavorites(product)" color="danger" *ngIf="product.favorit" float-left style="padding: 2px; padding-left: 4px"></ion-icon>
                    <img [src]="product.images[0] != null ? product.images[0].src : 'assets/imgs/koo-icon.png'" class="item-img" [navPush]="productPage" [navParams]="{id: product.id}" />
                    <hr>
                    <div class="box">
                        <p class="text" [innerHTML]="product.name" [navPush]="productPage" [navParams]="{id: product.id}"></p>
                    </div>
                    <p class="text-no-padding price" [navPush]="productPage" [navParams]="{id: product.id}" [innerHTML]="product.price_html"></p>
                    <!--<button block ion-button color="secondary" *ngIf="product.stock_quantity" (click)="addToCart(product)" class="go-bottom"><ion-icon name="cart"></ion-icon>  افزودن به دسبد  </button>        
                    <button class="buy-button" ion-button *ngIf="!product.stock_quantity" block color="secondary">  موجود نیست  </button>-->
                    <button id="buy-button" class="buy-button" color="secondary"  ion-button block (click)="addToCart(product)"><div no-margin no-padding *ngIf="!product.stock_quantity"> موجود نیست </div><div no-margin no-padding *ngIf="product.stock_quantity"><ion-icon class="icon-dist" name="cart"></ion-icon>  افزودن به سبد  </div></button>
                </div>  
                
            </ion-col>
            <ion-infinite-scroll *ngIf="canLoadMore"  (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-row>
      <!--<ion-row>
        <ion-col dir="rtl" col-6 *ngFor="let product of products">
            <ion-card no-padding>
              <ion-list>
                <ion-item>
                    <img [src]="product.images[0] != null ? product.images[0].src : 'assets/imgs/koo-icon.png'" [navPush]="productPage" [navParams]="{id: product.id}" />
                </ion-item>
                <ion-item>
                    <ion-textarea disabled center padding [innerHTML]="product.name" [navPush]="productPage" [navParams]="{id: product.id}"></ion-textarea>
                </ion-item>
                <ion-item col-6>
                </ion-item>
                <div class="item row" style="background: #2e9d32">
                    <div class="col">
                        <div class="item-input item-select" id="buy-count">
                            <ion-select [(ngModel)]="product.count" cancelText="بیخیال" okText="تایید">
                              <ion-option *ngFor="let item of Arr.from(Arr(product.stock_quantity).keys()).map(incremment) " checked="item == product.count" value="{{item}}" >{{item}}</ion-option>
                            </ion-select>
                        </div>
                    </div> 
                    <div class="col">
                        <button block ion-button color="secondary" (click)="addToCart(product)"><ion-icon name="cart"></ion-icon></button>
                    </div>
                </div>
              </ion-list>            
            </ion-card>
        </ion-col>
      </ion-row>-->
    </ion-grid>
</ion-content>
