@font-face{
    font-family: 'iran-sans';
    src: url('../assets/fonts/irsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
page-wizard {
    

    .button {
        font-family: 'iran-sans';
        position: fixed;
        bottom: 16px;
        left: 16px;
        z-index: 10;
    }
}
