<!--
  Generated template for the WizardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

    <ion-slides #wizard dir='rtl' pager="true">
        <ion-slide>
          <img src="assets/imgs/Artboard1.png"/>
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/Artboard2.png"/>
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/Artboard3.png"/>
          <button ion-button class="button" (click)="goHome()" >ادامه</button>
        </ion-slide>
      </ion-slides>

</ion-content>
